@page "/editproduct/{id:int}"

@rendermode InteractiveServer

@inject IViewProductByIDUseCase ViewProductByIDUseCase

<h3>Edit Product</h3>
<br />


@code {
    // State variable
    private Product? product;

    [Parameter]
    public int ID { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        product = await ViewProductByIDUseCase.ExecuteAsync(ID); 
    }

}
